[Desktop Entry]
Icon=text-plain
Name=.directory
Type=Link
URL[$e]=file:///media/kali/NEW VOLUME/.local/share/dolphin/view_properties/global/.directory
X-KDE-LastOpenedWith=org.kde.kwrite
